@{
    ViewBag.Title = "Barbearia";
}

<div class="jumbotron">
    <h1>BARbearia</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vem pro corte</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRIDpvbhG26Pp43D08nWMTxje6CwpUXOieXLV5Vl4FcT1rx8Lb4"/>
    </div>
    <div class="col-md-4">
        <h2>Corte que meu povo gosta.</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRcoU_yAR0I8djnF_3TBEeQ6xxv3VO2tIWPNFB9lidQD61WVldC" />

    </div>
</div>